<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/fonts/font.css" />
    <link rel="stylesheet" href="./static/styles/loader.css" />
    <link rel="stylesheet" href="./static/styles/global.css" />
    <link rel="stylesheet" href="./static/styles/header-booking.css" />
    <link rel="stylesheet" href="./static/styles/footer.css" />
    <link rel="stylesheet" href="./static/styles/relax.css" />
    <link rel="stylesheet" href="./static/styles/booking.css" />
    <script defer src="./static/js/booking.js"></script>
    
    <!-- <link rel="shortcut icon" href="images/" type="image/x-icon"> -->
    <title>Alushta Resort</title>
  </head>
  <body>
    <header class="header">
      <div class="decorated-zone"></div>
      <div class="header__upper">
        <div class="hotel-name header__icon">
          <p>Alushta</p>
          <p>Resort</p>
        </div>
        <nav class="header__navigation">
          <a href="./index">Главная</a>
          <a href="./rest">Отдых</a>
          <a href="./apartment">Аппартаменты</a>
          <a class="header__navigation-item_active" href="./booking">Бронь</a>
        </nav>
      </div>
      <div class="header__info">
        <div class="header__title">
          <p>Связаться с нами</p>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="main__title">
        <h2>ЗАБРОНИРУЙТЕ НОМЕР ПРЯМО СЕЙЧАС</h2>
        <p>
          Ответим на все ваши вопросы и удовлетворим ваши потребности в
          бронировании, скидках и длительной аренде. Просто заполните форму
          ниже, и мы свяжемся с вами в ближайшее время для предоставления всей
          необходимой информации.
        </p>
      </div>
      <div class="main__booking">
        <div class="main__booking-address">
          <p>Таврическая улица, дом 32,</p>
          <p>город Алушта,</p>
          <p>Республика Крым, 298510</p>
          <p>Тел: +7 978 060 90 69</p>
          <p>email: impullsss@mail.ru</p>
        </div>
          <form class="main__booking-form">
            <div>
              <label for="name">Имя</label><br />
              <input class="input-text main__booking-form-name" type="text" id="name" name="name" /><br />
            </div>
            <div>
              <label for="email">Электронный адрес</label><br />
              <input class="input-text main__booking-form-email" type="email" name="email" id="email" /><br />
            </div>
            <div>
              <label for="text">Сообщение</label><br />
              <div class="input-message main__booking-form-message" contenteditable="true"></div>
            </div>
            <div class="input-button main__booking-form-button">
              <span class="main__booking-form-status"></span>
              <button type="button">
                  Отправить
              </button>
            </div>
          </form>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__info">
        <p class="hotel-name shadow">
          Alushta <br />
          Resort
        </p>
        <p>
          Таврическая улица, 32, Алушта, <br />
          Республика Крым, 298510 <br />
          +7 978 060 90 69 <br />
          impullsss@mail.ru
        </p>
      </div>
      <div class="footer__contacts">
        <a href="#">О нас</a>
        <a href="#">Контакты</a>
        <a href="#"
          >Правила и <br />
          условия</a
        >
      </div>
      <div class="footer__media">
        <div class="footer__media-content">
          <img src="./static/svg/facebook.svg" alt="" />
          <a href="#">facebook</a>
        </div>
        <div class="footer__media-content">
          <img src="./static/svg/twitter.svg" alt="" />

          <a href="#">twitter</a>
        </div>
        <div class="footer__media-content">
          <img src="./static/svg/instagram.svg" alt="" />
          <a href="#">instagram</a>
        </div>
      </div>
      <div class="footer__subscribe">
        <p>Подпишитесь на нашу рассылку</p>
        <div class="footer__subscribe-placeholder">
          <form>
            <input
              class="footer__subscribe-email"
              type="email"
              placeholder="example@example.com"
              id="email"
            />
            <input class="footer__subscribe-button" type="button" value="OK" />
          </form>
        </div>
      </div>
    </footer>
  </body>
</html>
