<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./static/fonts/font.css" />
        <link rel="stylesheet" href="./static/styles/global.css" />
        <link rel="stylesheet" href="./static/styles/header.css">
        <link rel="stylesheet" href="./static/styles/footer.css">
        <link rel="stylesheet" href="./static/styles/relax.css">
        <link rel="stylesheet" href="./static/styles/rest-page.css" />
        <link rel="stylesheet" href="./static/styles/slider.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <!-- <link rel="shortcut icon" href="images/" type="image/x-icon"> -->
        <title>Alushta Resort</title>
      </head>
<body>
    <header class="header">
        <div class="decorated-zone"></div>
        <div class="header__upper">
          <div class="hotel-name header__icon">
            <p>Alushta</p>
            <p>Resort</p>
          </div>
          <nav class="header__navigation">
            <a href="./index">Главная</a>
            <a class="header__navigation-item_active" href="./rest">Отдых</a>
            <a href="./apartment">Аппартаменты</a>
            <a href="./booking">Бронь</a>
          </nav>
        </div>
        <div class="header__info shadow">
          <div >
            <h1 class="hotel-name title-text">Alushta <br />Resort</h1>
            <p>
              Забронируйте номер и насладитесь отдыхом <br />
              по-новому по самым доступным ценам.
            </p>
          </div>
          <div class="header__booking">
            <a href="./booking">
            <button class="header__booking-button" >
              <img src="./static/svg/Group 37.svg" alt="иконка дома" />
              Забронировать
            </button></a>
          </div>
        </div>
      </header>
      <main class="main">

        <div class="main__title">
            <h2>Достопримечательности</h2>
            <p>Освежитесь в номерах с видом на прекрасные горы Алушты, исследуя бескрайние возможности активного отдыха. 
                Наше местоположение предлагает идеальный баланс между приключениями в горах и спокойными экскурсиями, 
                позволяя вам максимально расслабиться и насладиться красотой окружающей природы.</p>
        </div>

        <div class="main__attractions">

            <div class="swiper mySwiper">
              <div class="swiper-button-next darker"></div>
              <div class="swiper-button-prev darker"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="decorated-zone"></div>
                  <img src="./static/images/rest-images/ai-yori/1.png" alt="Красивая река Ай-Йори">
                </div>
                <div class="swiper-slide">
                  <div class="decorated-zone"></div>
                  <img src="./static/images/rest-images/ai-yori/2.jpg" alt="Красивая река Ай-Йори">
                </div>
                <div class="swiper-slide">
                  <div class="decorated-zone"></div>
                  <img src="./static/images/rest-images/ai-yori/3.jpg" alt="Красивая река Ай-Йори">
                </div>
              </div>
            </div>

            
            <div class="main__attractions-title">
                <h3>Ай Йори</h3>
                <p>Ай-Йори - популярное место среди желающих отдохнуть на природе в Крыму. 
                    Вершина находится в 5 километрах к западу от Алушты, под горным массивом яйлы Бабуган. 
                    Ай-Йори - скалистая гора высотой 572 м, на западном склоне которой находится одноименный родник, считающийся целебным. 
                    Источник не пересыхает даже самым жарким летом, потому что родник подпитывается водами обширных карстовых полостей Бабугана.</p>
            </div>
        </div>

        <div class="main__attractions">

          <div class="swiper mySwiper">
              <div class="swiper-button-next darker"></div>
              <div class="swiper-button-prev darker"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="decorated-zone"></div>
                  <img src="./static/images/rest-images/ozero-kastel/1.png" alt="Озеро Кастель">
                </div>
                <div class="swiper-slide">
                  <div class="decorated-zone"></div>
                  <img src="./static/images/rest-images/ozero-kastel/2.jpg" alt="Озеро Кастель">
                </div>
                <div class="swiper-slide">
                  <div class="decorated-zone"></div>
                  <img src="./static/images/rest-images/ozero-kastel/3.jpg" alt="Озеро Кастель">
                </div>
              </div>
            </div>

          <div class="main__attractions-title">
              <h3>Озеро Кастель</h3>
              <p>Одно из живописных мест Крымского полуострова — озеро Кастель, расположенное близ Алушты у подножия горы Парагильмен.
                 В переводе с древнегреческого языка название озера Кастель, расположенного в Крымских горах на высоте 515 метров над уровнем моря, означает крепость.</p>
          </div>
      </div>

      <div class="main__attractions">

        <div class="swiper mySwiper">
          <div class="swiper-button-next darker"></div>
          <div class="swiper-button-prev darker"></div>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="decorated-zone"></div>
              <img src="./static/images/rest-images/besedka-vetrov/1.png" alt="Беседка ветров">
            </div>
            <div class="swiper-slide">
              <div class="decorated-zone"></div>
              <img src="./static/images/rest-images/besedka-vetrov/2.jpg" alt="Беседка ветров">
            </div>
            <div class="swiper-slide">
              <div class="decorated-zone"></div>
              <img src="./static/images/rest-images/besedka-vetrov/3.jpg" alt="Беседка ветров">
            </div>
          </div>
        </div>


        <div class="main__attractions-title">
            <h3>Беседка Ветров</h3>
            <p>Беседка Ветров, построенная в 1956 году, представляет собой каменную колоннаду диаметром около 4 м, находящуюся под куполом, высотой 6 м.
               Пол Беседки выложен мозаикой, изображающей Розу Ветров.Беседка Ветров выкрашена в белый цвет и в ясную погоду хорошо видна из Гурзуфа. 
               В свою очередь, из Беседки открывается изумительная по красоте панорама живописных склонов соседних гор, а внизу, как на ладони, видны: гора Аю-Даг, курортные посёлки Гурзуф, 
               Партенит и прекрасное Чёрное море.</p>
        </div>
    </div>

      <div class="main__attractions">

        <div class="swiper mySwiper">
          <div class="swiper-button-next darker"></div>
          <div class="swiper-button-prev darker"></div>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="decorated-zone"></div>
              <img src="./static/images/rest-images/dolina-privedeniy/1.png" alt="Долина привидений">
            </div>
            <div class="swiper-slide">
              <div class="decorated-zone"></div>
              <img src="./static/images/rest-images/dolina-privedeniy/2.jpg" alt="Долина привидений">
            </div>
            <div class="swiper-slide">
              <div class="decorated-zone"></div>
              <img src="./static/images/rest-images/dolina-privedeniy/3.jpg" alt="Долина привидений">
            </div>
          </div>
        </div>

      <div class="main__attractions-title">
          <h3>Долина Приведений</h3>
          <p>Долина привидений — таинственное место площадью около 20 га на склонах горы Демерджи, которое заполнено сотнями беспорядочно расположенных скал-останцев странной формы. Они обточены ветром, имеют внушительную высоту и удивительную способность менять свой облик при смене освещения и угла зрения.
            В утренней туманной дымке или вечерних сумерках фигуры отбрасывают тени, которые двигаются вместе с солнцем, и теряют четкость формы.
             </p>
      </div>
    </div>


    <div class="main__attractions">

      <div class="swiper mySwiper">
        <div class="swiper-button-next darker"></div>
        <div class="swiper-button-prev darker"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="decorated-zone"></div>
            <img src="./static/images/rest-images/sirnie-skali/1.png" alt="Сырные скалы">
          </div>
          <div class="swiper-slide">
            <div class="decorated-zone"></div>
            <img src="./static/images/rest-images/sirnie-skali/2.jpg" alt="Сырные скалы">
          </div>
          <div class="swiper-slide">
            <div class="decorated-zone"></div>
            <img src="./static/images/rest-images/sirnie-skali/3.jpg" alt="Сырные скалы">
          </div>
        </div>
      </div>

      <div class="main__attractions-title">
          <h3>Сырные Скалы</h3>
          <p>Сырные скалы — один из знаковых туристических объектов в Крыму, который впечатляюще смотрится и в реальности, и на фото. 
            Находится достопримечательность на въезде в поселок Малореченское в Большой Алуште, в живописном месте возле самого берега моря. </p>
      </div>
    </div>

    <div class="main__attractions">

      <div class="swiper mySwiper">
        <div class="swiper-button-next darker"></div>
        <div class="swiper-button-prev darker"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="decorated-zone"></div>
            <img src="./static/images/rest-images/vino/vino-1.png" alt="Алуштинская винодельня">
          </div>
          <div class="swiper-slide">
            <div class="decorated-zone"></div>
            <img src="./static/images/rest-images/vino/2.jpg" alt="Алуштинская винодельня">
          </div>
          <div class="swiper-slide">
            <div class="decorated-zone"></div>
            <img src="./static/images/rest-images/vino/3.jpg" alt="Алуштинская винодельня">
          </div>
        </div>
      </div>

      <div class="main__attractions-title">
          <h3>Винодельня</h3>
          <p>Алуштинская винодельня была основана еще в 1830 году, поэтому в 1936 году вошла в состав «Массандры», имея почти вековую историю. 
            На сегодня в ее «копилке» высокие награды моногочисленных конкурсов, включая международные – два кубка Гран-При, 9 золотых медалей, 18 серебряных и 5 бронзовых.</p>
      </div>
    </div>



        <div class="main__relax swiperForRelax">
          <h2>Расслабьтесь</h2>
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="main__relax-content">
                  <p>
                    <span class="quote">
                      "Отдых — это искусство, которое нужно учиться <br />
                      делать так же, как и работать."</span
                    >
                  </p>
                  <p>Джон Бертранд</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="main__relax-content">
                  <p>
                    <span class="quote">
                      "Способность расслабиться и принять отдых — это <br>
способность видеть красоту даже в самых простых вещах."</span
                    >
                  </p>
                  <p>Дэвид Аллен</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="main__relax-content">
                  <p>
                    <span class="quote">
                      "Иногда самым продуктивным будет сесть и ничего не делать."</span
                    >
                  </p>
                  <p>Уинни Пух (Алан Милн)</p>
                </div>
              </div>

            </div>
            <div class="main__relax-slider">
              <button class="main__relax-slider-button back main__relax-slider-button-back">
                <img src="./static/svg/arrow.svg" alt="" />
              </button>
              <button class="main__relax-slider-button next main__relax-slider-button-next">
                <img src="./static/svg/arrow.svg" alt="" />
              </button>
            </div>
          </div>


      </main>
      <footer class="footer">
        <div class="footer__info">
            <p class="hotel-name shadow"> Alushta <br> Resort</p>
            <p>Таврическая улица, 32, Алушта, <br>
                 Республика Крым, 298510 <br>
                +7 978 060 90 69 <br>
                impullsss@mail.ru</p>
        </div>
        <div class="footer__contacts">
            <a href="#">О нас</a>
            <a href="#">Контакты</a>
            <a href="#">Правила и <br> условия</a>
        </div>
        <div class="footer__media">
            <div class="footer__media-content">
                <img src="./static/svg/facebook.svg" alt="">
                <a href="#">facebook</a>
            </div>
            <div class="footer__media-content">
                <img src="./static/svg/twitter.svg" alt="">
                
                <a href="#">twitter</a>
            </div>
            <div class="footer__media-content">
                <img src="./static/svg/instagram.svg" alt="">
                <a href="#">instagram</a>
            </div>
        </div>
        <div class="footer__subscribe">
            <p>Подпишитесь на нашу рассылку</p>
            <div class="footer__subscribe-placeholder">
            <form>
                <input class="footer__subscribe-email" type="email" placeholder="example@example.com" id="email" />
                <input class="footer__subscribe-button" type="button" value="OK">
            </form>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

      var swiperForRelax = new Swiper(".swiperForRelax", {
        loop: true,
        navigation: {
          nextEl: ".main__relax-slider-button-back",
          prevEl: ".main__relax-slider-button-next",
        },
      });
      
    </script>
</body>
</html>