:root {
    --bg-image:url(../images/main-page.png);
}

.main {
    display: flex;
    flex-direction: column;
    padding: 130px 224px 130px 224px;
    gap: 130px;
}

.main-title  {
    display: flex;
    justify-content: center;
}

.main-title h2 {
    font-weight: normal;
    font-size: 36px;
}

.main__info {
    display: flex;
    max-height: 500px;
    gap: 56px;
}

.main__info-block {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-around;
    border-left: 1px solid black;
    padding-left: 50px;
}

.main__info-block p {
    font-size: calc(16px + (24 - 16) * ((100vw - 1024px) / (1920 - 1024)));
}

.main__info-block h3 {
    font-weight: normal;
    font-size: calc(20px + (40 - 20) * ((100vw - 1024px) / (1920 - 1024)));
}

.main__info-block button {
    max-width: 236px;
    padding: 19px 29px 19px 29px;
    background-color: #E0B973;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.main__info-block-image {
    display: flex;
    flex-basis: 50%;
    position: relative;
}

.main__info-block-image img{
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    height: 100%;
}



