:root {
    --bg-image:url(../images/apartment-image.jpg);
}


.main {
    padding: 160px 165px 160px 165px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.main__title h2 {
    font-weight: 300;
    font-size: 60px;
}

.main__title p {
    font-size: 21px;
    font-weight: bold;
    line-height: 40px;
}

.main__appartment-card {
    border: 2px solid #14274A;
    border-radius: 15px;
    position: relative;
}

.main__appartment-card-image {
    position: relative;
}

.main__appartment-card-image img {
    display: block;
    width: 100%;
}

.main__appartment-card-title {
    background-color: #14274A;
    padding: 41px 0 41px 0;
    color: #fff;
    text-align: center;
}

.main__appartment-card-title p {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

.main__appartment-card-footer {
    display: flex;
    padding: 80px 60px 80px 60px;
    justify-content: space-between;

}

.main__appartment-description-more-button {
    width: 50px;
    height: 50px;
    background-color: #E0B973;
    border-radius: 50%;
    position: relative;
}

.main__appartment-description-more-button::after {
    content: '';
    background-color: #fff;
    position: absolute;
    top: calc(50% - 2px);
    right: calc(50% - 14px);
    width: 28px;
    height: 3px;
}

.main__appartment-description-more-button-decoreated {
    background-color: #fff;
    position: absolute;
    top: calc(50% - 2px);
    right: calc(50% - 14px);
    width: 28px;
    height: 3px;
    transition: transform 1s;
    transform: rotate(90deg);
}

.main__appartment-description-more-button-decoreated_close {
    transition: transform 1s;
    transform: rotate(0);
}

.main__appartment-description {
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}


.main__appartment-description p {
    font-weight: bold;
    font-size: 25px;
}

.main__appartment-card-footer button {
    padding: 25px 54px 25px 54px;
    background-color: #E0B973;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 25px;
}


.main__appartment-about {
    outline: none;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:25px;
    font-size: 24px;
    overflow: hidden;
    max-height: 0;
    transition: all 0.6s;
}

.main__appartment-about_open {
    outline: 2px solid #14274A;
    margin: 0 54px 54px 54px;
    padding: 25px;
    transition: all 0.6s;
    max-height: 3000px;
}

.main__appartment-about h3 {
    font-weight: 300;
    font-size: 40px;
}

.main__appartment-about ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

