.main {
    display: flex;
    flex-direction: column;
    padding: 130px 215px 130px 215px;
    gap: 130px;
}

.main__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main__title h2 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 300;
}

.main__title p {
    font-size: 30px;
}

.main__booking {
    display: flex;
    justify-content: space-between;
}

.main__booking-address {
    font-size: 40px;
}

.main__booking-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main__booking-form label {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 10px;
}

.main__booking-form input {
    width: 570px;
    border: 2px solid rgba(20, 39, 74, 0.5);
}

.main__booking-form label {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.input-text {
    height: 78px;
    font-family: "Montserrat", sans-serif;
    padding: 3%;
    font-size: 20px;
}

.input-message {
    height: 352px;
    max-width: 570px;
    word-break: break-all;
    outline: 1px solid black;
    font-family: "Montserrat", sans-serif;
    padding: 3%;
    font-size: 20px;
}

.input-button {
    display: flex;
    justify-content: flex-end;
}

.input-button button {
    padding: 25px 11px 25px 11px;
    border-radius: 10px;
    color: #fff;
    background-color: #E0B973;
    border: none;
    font-weight: bold;
}
